<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo">

        <div class="search-container">
            <input type="text" placeholder="Buscar productos, marcas">
            <i class="fa fa-search"></i>
        </div>

        <h4 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
        </h4>
    </div>
    <div class="input">Buscar productos, marcas<i class="fa fa-search"></i></div>
    <div class="burguer-menu">
        <i class="fa fa-bars burguer"></i>
    </div>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="">Ofertas</a></li>
            <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="/">Vender</a></li>
            <li><a href="/">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li> <a href="/auth/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
            <li> <a href="/auth/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
            <li> <a href="/carrito">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    
</header>