<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
</head>
<body>
    
<%- include('./partials/headerhome'); -%>

    <main class="articulos">
        <div class="articulos__banner">
            <img src="/images/img-home-banner.jpg">
        </div>
        <h2 class="articulos_title-visita">Basado en tu ultima visita</h2>
        <section class="recommendations">
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-cafetera-moulinex.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">  
                        <div class="precio">
                            <p>$6.770</p>
                        </div>   
                        <div class="descuento">
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="nombre">
                        <p class="pdp-title">Cafetera Moulinex</p>
                     </div>
                </div>    
            </article>
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-macbook-pro-2019.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div> 
                    <div class="valores">
                        <div class="precio">
                     <p>$230.000</p>
                        </div>
                        <div class="descuento">
                             <p>20% off</p>
                        </div>
                    </div>
                    <div class="nombre">
                        <p class="pdp-title">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-samsung-galaxy-s10.jpg" >
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio"> 
                            <p> $70.500</p>
                        </div> 
                        <div class="descuento">
                            <p>10% off</p>
                        </div> 
                    </div>  
                    <h4 class="pdp-title">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-tv-samsung-smart.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores"> 
                        <div class="precio">
                            <p>$23.200</p>
                        </div>
                        <div class="descuento">    
                            <p>5% off</p>
                        </div> 
                    </div> 
                    <h4 class="pdp-title">SmartTv Samsung 43</h4>
                </div>
            </article> 
        </section>

        <h2 class="articulos_title-recommendations">Ofertas</h2>
        <section class="recommendations">
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-cafetera-moulinex.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>    
                    <div class="valores"> 
                        <div class="precio"> 
                            <p>$6.770</p>
                        </div>
                        <div class="descuento"> 
                            <p>40% off</p>
                        </div> 
                    </div>    
                    <h4 class="pdp-title">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-macbook-pro-2019.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i> 
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% off</p>
                        </div>
                    </div> 
                    <h4 class="pdp-title">MacBook Pro 2019</h4>
                </div> 
            </article>

            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$70.500</p>
                        </div>
                        <div class="descuento"> 
                            <p>10% off</p>
                        </div> 
                    </div>
                    <h4 class="pdp-title">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-tv-samsung-smart.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">     
                            <p>$23.200</p>
                        </div>
                        <div class="descuento">
                            <p>5% off</p>
                        </div> 
                    </div>
                    <h4 class="pdp-title">SmartTv Samsung 43"</h4>
                </div> 
            </article>
        </section>
    </main>

    <%- include('./partials/footer'); -%>
    



    
</body>
</html>