<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">

            <div class="search-container">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa fa-search"></i>
            </div>

            <h4 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
            </h4>
        </div>
        <div class="input">Buscar productos, marcas<i class="fa fa-search"></i></div>
        <div class="burguer-menu">
            <i class="fa fa-bars burguer"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li> <a href="/signup">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li> <a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="/">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
    </header>
    <main class="articulos">
        <div class="articulos__banner">
            <img src="/images/img-home-banner.jpg">
        </div>
        <h2 class="articulos_title-visita">Basado en tu ultima visita</h2>
        <section class="recommendations">
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-cafetera-moulinex.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">  
                        <div class="precio">
                            <p>$6.770</p>
                        </div>   
                        <div class="descuento">
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="nombre">
                        <p class="pdp-title">Cafetera Moulinex</p>
                     </div>
                </div>    
            </article>
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-macbook-pro-2019.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div> 
                    <div class="valores">
                        <div class="precio">
                     <p>$230.000</p>
                        </div>
                        <div class="descuento">
                             <p>20% off</p>
                        </div>
                    </div>
                    <div class="nombre">
                        <p class="pdp-title">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-samsung-galaxy-s10.jpg" >
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio"> 
                            <p> $70.500</p>
                        </div> 
                        <div class="descuento">
                            <p>10% off</p>
                        </div> 
                    </div>  
                    <h4 class="pdp-title">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-tv-samsung-smart.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores"> 
                        <div class="precio">
                            <p>$23.200</p>
                        </div>
                        <div class="descuento">    
                            <p>5% off</p>
                        </div> 
                    </div> 
                    <h4 class="pdp-title">SmartTv Samsung 43</h4>
                </div>
            </article> 
        </section>

        <h2 class="articulos_title-recommendations">Ofertas</h2>
        <section class="recommendations">
            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-cafetera-moulinex.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>    
                    <div class="valores"> 
                        <div class="precio"> 
                            <p>$6.770</p>
                        </div>
                        <div class="descuento"> 
                            <p>40% off</p>
                        </div> 
                    </div>    
                    <h4 class="pdp-title">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-macbook-pro-2019.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i> 
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% off</p>
                        </div>
                    </div> 
                    <h4 class="pdp-title">MacBook Pro 2019</h4>
                </div> 
            </article>

            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$70.500</p>
                        </div>
                        <div class="descuento"> 
                            <p>10% off</p>
                        </div> 
                    </div>
                    <h4 class="pdp-title">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="item">
                <div class="item__image-container">
                    <img src="/images/img-tv-samsung-smart.jpg">
                </div>
                <div class="producto">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">     
                            <p>$23.200</p>
                        </div>
                        <div class="descuento">
                            <p>5% off</p>
                        </div> 
                    </div>
                    <h4 class="pdp-title">SmartTv Samsung 43"</h4>
                </div> 
            </article>
        </section>
    </main>

    <footer>
        <div class="main-footer">
            <div class="main-footer_pagos">
                <div class="pagos_icon">
                    <i class="fas fa-credit-card fa-2xl"></i>
                </div>
                <h3 class="main-footer_title">Paga con tarjeta o en efectivo</h3>
                <p class="main-footer_leyenda">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.</p>
            </div>
            <div class="main-footer_envios">
                <div class="envios_icon">
                    <i class="fas fa-gift fa-2xl"></i>
                </div>
                <h3 class="main-footer_title">Envio gratis desde los $2500</h3>
                <p class="main-footer_leyenda">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Marcado Puntos.</p>
            </div>
            <div class="main-footer_seguridad">
                <div class="seguridad_icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3 class="main-footer_title">Seguridad de principio a fin</h3>
                <p class="main-footer_leyenda">¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada mas que no puedas hacer porque estas siempre protegid@.</p>
            </div>
        </div>
        <p class="main-footer_title-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>



    
</body>
</html>