<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="../css/login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <%- include('./partials/header'); -%>

    <main class="main">
        <section class="section-login">
            <form class="login-form" method="POST" action="http://localhost:3000/auth/login">
                <div>
                    <h2 class="login-form_title">Inicia sesion en Mercado Liebre</h2>
                </div>
                <div class="form-login_div">
                    <input class="div_controls" value="<% user ? user.email:''%>" type="email" id="email" placeholder="Ingrese su email" name="email" required>
                </div>
                <div class="form-login_div">
                    <input class="div_controls" value="<% user ? user.password: ''%>" type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="form-login_boton">
                    <input class="boton_submit" type="submit" value="ingresar">
                </div>
                
            </form>    
        </section>

    </main>

    <%- include('./partials/footer'); -%>
</body>
</html>