<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="../css/login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
    
            <div class="search-container">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa fa-search"></i>
            </div>
    
            <h4 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
            </h4>
        </div>
        <div class="burguer-menu">
            <i class="fa fa-bars burguer"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
    
            <ul class="right-navbar">
                <li> <a href="/auth/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li> <a href="/auth/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="/cart">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
    </header>

    <main class="main">
        <section class="section-login">
            <form class="login-form" method="POST" action="http://localhost:3000/auth/login">
                <div>
                    <h2 class="login-form_title">Inicia sesion en Mercado Liebre</h2>
                </div>
                <div class="form-login_div">
                    <input class="div_controls" value="<% user ? user.email:''%>" type="email" id="email" placeholder="Ingrese su email" name="email" required>
                </div>
                <div class="form-login_div">
                    <input class="div_controls" value="<% user ? user.password: ''%>" type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="form-login_boton">
                    <input class="boton_submit" type="submit" value="ingresar">
                </div>
                
            </form>    
        </section>

    </main>

    <footer>
        <div class="main-footer">
            <div class="main-footer_pagos">
                <div class="pagos_icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3 class="main-footer_title">Paga con tarjeta o en efectivo</h3>
                <p class="main-footer_leyenda">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.</p>
            </div>
            <div class="main-footer_envios">
                <div class="envios_icon">
                    <i class="fas fa-gift"></i>
                </div>
                <h3 class="main-footer_title">Envio gratis desde los $2500</h3>
                <p class="main-footer_leyenda">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Marcado Puntos.</p>
            </div>
            <div class="main-footer_seguridad">
                <div class="seguridad_icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3 class="main-footer_title">Seguridad de principio a fin</h3>
                <p class="main-footer_leyenda">¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada mas que no puedas hacer porque estas siempre protegid@.</p>
            </div>
        </div>
        <p class="main-footer_title-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>