:root{
    --primary-color: #e49b0f;
    --secondary-color: #1f53c5;
    --just-white: #FFFFFF;
    --just-black: #000000;
    --gray-color: #9c9c9c;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--just-white);
    width: 100%;
}

.main{
    padding-bottom: 100px;
}

.main-header {
    background-color: #EAC926;
    padding:60px;
}

.main-header .main-header-top-bar{
    max-width:400px;
    text-align: center;
    margin: 0px auto;
} 

.main-header-top-bar .logo img{
    width: 100%;
    text-align: center;
 }

.button-primary{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--just-black);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    max-width: 400px;
}

.main-header__logo img{
    width: 100%;
}

.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:var(--just-white);
    padding: 40px 20px;
    gap:30px;
    color:#000000;
}

.cart-container .product_title{
    text-align: center;
    padding: 20px 0px;
}

.cart-container__item{
    width:100%;
    display: flex;
    gap: 20px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 40px;
}

.cart-container__item .item__image{
    width: 200px;
    height: 230px;
}

.cart-container__item .item__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-container__item .item__info{
    padding: 20px 10px;
}

.cart-container__item .item__info .info__title{
    font-size: 1.4rem;
    margin-bottom: 20px; 
}

.cart-container__item .item__info .info__size{
    font-size:1.1rem;
    margin: 10px 0;
}

.cart-container__item .item__info .info__price{
    font-size:1.1rem;
    font-weight:600;
    margin:10px 0
}

.cart-container__item .item__info .info__qty{
    display:flex;
    margin-bottom: 10px;
}

.cart-container__item .item__info .info__qty .qty__count{
    border:1px solid black;
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-color);
    background-color: transparent;
    transition: all 200ms ease-in-out;
    cursor:pointer;
}

.cart-container__item .item__info .info__qty .qty__count:hover{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--just-black);
}

.cart-container__item .item__info .info__qty .qty__value{
    background-color: var(--just-white);
    color: var(--primary-color);
    width: 40px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container__item .item__info .info__total{
    font-size:1.1rem;
    font-weight: 600;
    margin: 10px 0;
}

.cart-container__item .item__icon-close{
    width: 30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--just-black);
    cursor:pointer;
    position: absolute;
    top: 0;
    left:0;
    transition: all 200ms ease-in-out;
}

.cart-container__item .item-icon-close:hover{
    background-color: transparent;
    color: var(--primary-color);
}

.cart_summary{
    max-width: 600px;
    min-width: 300px;
    justify-content: space-between;
    margin: 0px auto;
    text-align: center;
}

.cart_summary h2{
    margin-bottom: 20px;
}

.cart_summary p{
    margin-bottom: 10px;
}

.button-adding{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--just-black);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    max-width: 400px;
    text-align: center;
}



@media(max-width: 780px){
    .cart_summary{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cart_summary .button-primary{
        margin: 10px auto;
    }

    .main-header .main-header__logo{
        width: 150px;
    }

    .main-header__logo img{
        width: 100px;
    }
}

