*{box-sizing: border-box;
padding: 0;
margin:0;}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.articulos{
    background-color:#ebebeb;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.articulos .articulos_title-visita{
    margin-top: 20px;
    margin-bottom: 5px;
}



header nav {
    font-size: 12px;
}

.main-header {
    background-color: #EAC926;
    padding:20px;
}

.copy-header{
    font-weight:400px;
    text-align: center;
}

.main-navbar{
    display:none;
}

.main-navbar ul{
    list-style: none;
    margin:0;
    padding:0;
}

.main-navbar a{
    text-decoration:none;
    color:#222222;
    display:inline-block;
    padding:5px 0;
    font-size: 17px;
}

.input{
    display:none;
}

.burguer-menu i{
    background-color:#0044AA;
    color: #FFF;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 5px;
    text-align:center;
    font-size: 17px;
    margin: auto; 
}

.logo{
    width:100%;
    display: flex;
    justify-content: center;
}

header div.input{
    background-color: #FFF;
    border: 1px solid #000;
    color:darkgrey;
    width: 300px;
}

.articulos .articulos_title-recommendations{
    margin-top: 10px;
    margin-bottom: 5px;
}

.recommendations{
    width:90vw;
    text-align: center;
}

.item{
    margin-bottom: 10px;
    max-width:90vw;
    transition: all 250ms ease-out;
}

.item:hover{
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); 
}

.producto{
    border:1px solid #ebebeb;
    padding:15px;
    background-color: white;
    width:100%;
    position: relative;
}

.camion{
    display:block;
    font-size: 16px;
    border:1px solid #39b54a;
    padding:5px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    width:30px;
    height: 30px;
    right: 20px;
    top:-15px;
    transition: all 250ms ease-in-out;
}

.camion:hover{
    transform: rotate(-90deg);
}


.valores{
    display:flex;
    justify-content: center;
    width: 100%;
}

.precio{
    width: 30%;
    font-size:17px;
}

.descuento{
    width: 70%;
    color:#39b54a;
    font-size: 15px;
}

.pdp-title{
    display:flex;
    font-size: 14px;
    color:#8c8c8c;
    margin-top: 10px;
    text-align: left;
    width:100%;
}

article{
    margin:10px;
}

.banner{
    width:100%;
    padding: 0;
}

.main-footer{
    padding: 30px 10px;
}


.main-footer .main-footer_title{
    margin: 10px 0px;
    text-align: center;
}


.main-footer .main-footer_leyenda{
    text-align: center;
}

.main-footer .main-footer_title-copyright{
    margin-top: 20px;
    color:#666;
}

@media(min-width: 768px){
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }

    .copy-header{
        max-width:350px;
        text-align: right;
    }

    .burguer-menu{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display:flex;
    }

    .main-navbar li{
        margin: 0px 5px;
    }

    .logo{
        width: 250px;
    }

    main section article picture img{
        width:40vw;
    }


    .articulos section{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }


}

@media (min-width: 1200px){
    .main-header-top-bar, .main-navbar{
        max-width:1200px;
        margin:auto;
    }

    .main-header-top-bar{
        align-items: center;
    }

    .main-navbar{
        margin-top: 25px;
    }

    .main-navbar li{
        margin:0px 10px;
    }

    .copy-header{
        margin:0px;
        max-width:350px;
        text-align: right;
    }

    .main-navbar a{
        font-size:19px;
    }

    .logo{
        width:250px;
    }

    .recommendations{
        flex-direction: row;
        justify-content: space-around;;
    }

    .sub-title{
        display: flex;
    }

}
















